{% extends 'main_app/base.html' %}
{% load static %}



{% block hero %}

<section class="bg-primary pb-5" id="parallax" style="min-height: 100vh; padding-top: 200px;">

<div class="category  d-flex justify-content-center" style="margin-top: -50px;">
    <h2>choose category </h2>
</div>




<div class="container div_main_tracking ps-1 pe-1 pb-3" style="max-width: 130vh;">

    <div class=" d-flex justify-content-center w-100">

    <div class="row g-5 d-flex justify-content-center pt-3">
            {% for category in categories %}


                <a href="{% url 'main_app:request_add' category.id %}" class="col-4 me-3 ms-3 d-flex justify-content-center align-items-center category-item" style="width:550px; height:150px;">
                
                    <span class="choose-category" style="color: white;">
                        {{category.name}}
                    </span>   
            

                </a>
                

            {% endfor %}
        </div>

    </div>
</div>

</section>
{% endblock %}


