{% extends 'main_app/base.html' %}
{% load static %}


{% block content %}
<div class="container">

    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; ">
        <div>
            <h1>choose category </h1>
            <br>
            {% for category in categories %}
            <a class="choose-category" style="text-align: center;"
                href="{% url 'main_app:request_add' category.id %}">{{category.name}}</a>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}