{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}

<div id="description">

    <h1>Welcome to Dhallati</h1>
    <h3>Dhallati is website that can help you find your missing item<br>
    if you lost an item please press <button>request</button>
    </h3>

    <div>
        
        <h1>Track your request</h1>
        <form action="{% url 'main_app:home' %}" method="POST">
            {% csrf_token %}
            <label>Insert request number</label>
            <input type="text" placeholder="Request number" name="request_number">
            <button type="submit" name="track">Submit</button>
        </form>
    </div>


    <section class="section section-on-footer" >
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="section-title">Contact Info</h2>
            </div>
            <div class="col-lg-8 mx-auto">
              <div class="bg-white rounded text-center p-5 shadow-down">
                <h4 class="mb-80">Contact Form</h4>
                <form action="{% url 'main_app:home' %}" class="row" method="POST">
                    {% csrf_token %}
                  <div class="col-md-6">
                    
                    <input type="text" placeholder="First name" name="first_name" class="form-control px-0 mb-4" style="background-color: #e8f6ef4d;">
                  </div>
                  <div class="col-md-6">
                    
                    <input type="text" placeholder="Last name" name="last_name" class="form-control px-0 mb-4" style="background-color: #e8f6ef4d;">
                  </div>
                  <div class="col-md-6">
                   
                    <input type="email" placeholder="Email" name="email" class="form-control px-0 mb-4" style="background-color: #e8f6ef4d;">
                  </div>
                  <div class="col-12">
                    
                    <textarea placeholder="Message" name="message" class="form-control px-0 mb-4" style="background-color: #e8f6ef4d;"></textarea>
                  </div>

                  <div class="col-lg-6 col-10 mx-auto">
                    <button class="btn btn-primary w-100" type="submit" name="help">send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

</div>

{% endblock %}