{% extends 'main_app/base.html' %}


{% block content %}

<div class="container">

    <h2>details</h2>
    category: {{requests.catagory}}<br>
    sub-category: {{requests.Sub_catagory}}<br>
    item color: {{requests.color}}<br>
    lost place: {{requests.place}}<br>
    your description: {{requests.description}}<br>
    Request status{{requests.status}}<br>
    Manager checked it: {{requests.is_read}}<br>
    email: {{requests.email}}<br>
    name: {{requests.name}}<br>
    phone number: {{requests.phone_number}}<br>
    {{requests.}}
    
</div>

{% endblock %}