{% extends 'main_app/base.html' %}
{% load static %}


{% block hero %}

<section class="bg-primary container-fluid" id="parallax" style="min-height: 100vh; padding-top: 200px; padding-bottom: 40px;">
    

    <div class="container div_main_tracking ps-1 pe-1" style="min-width: 175vh;">

        <div class=" d-flex justify-content-center w-100">


            <div class="row mt-5 col-8">
                <div class="d-flex justify-content-center">
                    <h3 class="text-dark">request status</h3>
                </div>
                
            
                <div class="col-12 hh-grayBox">
                    <div class="row justify-content-start">
                        {% if tracking.status == 'T' %}
                        <div class="order-tracking completed">
                            <span class="is-complete"></span>
                            <p>request is under process</p>
                        </div>
                        <div class="order-tracking ">
                            <span class="is-complete"></span>
                            <p>item found</p>
                        </div>
                        <div class="order-tracking">
                            <span class="is-complete"></span>
                            <p>item is ready to be handed</p>
                        </div>



                        {% elif tracking.status == 'M' %}
                        <div class="order-tracking completed">
                            <span class="is-complete"></span>
                            <p>request is under process</p>
                        </div>
                        <div class="order-tracking completed">
                            <span class="is-complete"></span>
                            <p>item found</p>
                        </div>
                        <div class="order-tracking">
                            <span class="is-complete"></span>
                            <p>item is ready to be handed</p>
                        </div>



                        {% elif tracking.status == 'F' %}
                        <div class="order-tracking completed">
                            <span class="is-complete"></span>
                            <p>request is under process</p>
                        </div>
                        <div class="order-tracking completed">
                            <span class="is-complete"></span>
                            <p>item found</p>
                        </div>
                        <div class="order-tracking completed">
                            <span class="is-complete"></span>
                            <p>item is ready to be handed</p>
                        </div>
                        {% endif %}
                    </div>

                    
                </div>
            </div>
        

            <div class="d-flex ">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                     
                      <div class="col-5 p-0">
                        <div class="card-body p-0">
                          <h4 class="card-title">details</h4>
                          <p class="card-text">
                            <span>name:</span> {{tracking.name}} <br>
                             category: {{tracking.catagory}} <br>
                             sub-category: {{tracking.Sub_catagory}} <br>
                             item color: {{tracking.get_color_display}} <br>
                             lost place: {{tracking.get_place_display}} <br>
                             Request status: {{tracking.get_status_display}} <br>
                             {% if tracking.is_read %}
                             Manager checked it: Yes <br>
                             {% else %}
                             Manager checked it: No <br>
                             {% endif %}
                             Email: {{tracking.email}} <br>
                             phone number: {{tracking.phone_number}} <br>
                             <span> description: {{tracking.description}} </span>
                          </p>
                        </div>
                      </div>
                      
                      <div class="col-6 p-0" >
                        <img class="rounded-1 bd-placeholder-img img-fluid" width="100%" height="250%" src="{{tracking.image.url}}" alt="">
                      </div>
                    </div>
                  </div>

                <!--  <div class="">
                    <div>
                        <h3>details</h3>
                    </div>
                    

                    <h5>
                    name: {{tracking.name}}<br>
                    category: {{tracking.catagory}}<br>
                    sub-category: {{tracking.Sub_catagory}}<br>
                    item color: {{tracking.color}}<br>
                    lost place: {{tracking.place}}<br>
                    Request status: {{tracking.status}}<br>
                    Manager checked it: {{tracking.is_read}}<br>
                    email: {{tracking.email}}<br>
                    phone number: {{tracking.phone_number}}<br>
                    your description: {{tracking.description}}<br>
                    {{tracking.}}
                </h5>
            </div>
            -->
        </div>

    </div>

</div>

</section>

{%endblock%}

{% block content %}


{% endblock %}