{% extends 'main_app/base.html' %}
{% block title %} New Request {% endblock%}
{% load static %}


{% block content%}

<div class="container">
    <h1>Make Request</h1>


    <form action="{% url 'main_app:request_add' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">catagory</label>
            <select class="form-select" aria-label="Default select example" name="catagory" required min-length="1">
                <option value="">Select catagory</option>
                {% for catagory in catagories %}
                <option value="{{catagory.id}}">{{catagory.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">color</label>
            <select class="form-select" name="color" id="inputGroupSelect01">
                <option selected>Choose</option>

                <option value="R">Red</option>
                <option value="G">Green</option>
                <option value="B">Blue</option>
                <option value="Bla">Black</option>
                <option value="Y">Yellow</option>
                <option value="W">White</option>

               
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">place</label>
            <select class="form-select" name="place" id="inputGroupSelect01">
                <option selected>Choose</option>

                <option value="F">First Floor</option>
                <option value="S">Second Floor</option>
                <option value="T">Third Floor</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlInput1" placeholder="Discripe the Item"
                name="description"></textarea>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Choose Image</label>
            <input type="file" name="image" class="form-control" />
        </div>


        <div class="mb-3">
            <input type="submit" value="Create Request" class="btn btn-primary" />
        </div>

    </form>

</div>

{% endblock %}