.body-category{
    display: grid;
    place-items: center;
}
.category-edit{
    display: flex;
    width: 30%;
    height: 80px;
    
    margin: 10px;
    align-items: center;
    justify-content:space-around;
    background-color: #3d3d54;
    border: 0.1px solid #ffffff51;
    border-radius: 20px;
}
.category-edit a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 30px;
    
}
.category-edit a:hover{
    
color: #c2c2c2;
text-decoration: none;
}