{% extends 'main_app/base.html' %}
{% load static %}


{% block title %} Log In {% endblock %}

{% block hero %}
<section class="bg-primary" id="parallax" style="min-height: 100vh; padding-top: 200px;">

    {% if msg %}
    <p class="text-danger">{{msg}}</p>
    {% endif %}



    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white">Log In Page</h2>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="bg-white rounded text-center p-5 shadow-down">
                    <h4 class="mb-80">Log In</h4>






                    <form action="{% url 'accounts:log_in' %}" class="row" method="POST">
                        {% csrf_token %}
                        <div class="col-md-6">

                            <input type="text" required placeholder="username" name="username"
                                class="form-control px-0 mb-4" style="background-color: #e8f6ef4d;">
                        </div>
                        <div class="col-md-6">

                            <input type="password" placeholder="password" name="password" class="form-control px-0 mb-4"
                                style="background-color: #e8f6ef4d;">
                        </div>



                        <div class="d-flex justify-content-center">
                            <div class=" request_div" style="width: auto;">
                                <button class="request_btn " type="submit" name="help"
                                    style="background-color: #e8f6ef00; border-width: 0;">Log In</button>
                            </div>
                        </div>





                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}