/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #e8f6ef;
}

p, .paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}
p-lg, .paragraph-lg {
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  color: #e8f6ef;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 80px;
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
}

h2, .h2 {
  font-size: 60px;
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

/* Button style */
.btn {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
}
.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}
.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: #4C4C6D;
  color: #fff;
}
.btn-primary:active {
  background: #4C4C6D !important;
}
.btn-primary:hover {
  background: #4C4C6D;
}
.btn-primary.focus, .btn-primary.active {
  background: #4C4C6D !important;
  box-shadow: none !important;
}

.btn-transparent {
  background: transparent;
  color: #4C4C6D;
  font-weight: bold;
}
.btn-transparent:active, .btn-transparent:hover {
  color: #4C4C6D;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #4C4C6D;
  color: #fff;
}

::selection {
  background: #4C4C6D;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #4C4C6D !important;
}

a:hover {
  color: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  color: linear-gradient(0deg, #070b34 0%, #141852 50%, #2b2f77 100%);
  
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 20px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 80px;
  font-family: "Playfair Display", serif;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: linear-gradient(0deg, #070b34 0%, #141852 50%, #2b2f77 100%) !important;
  background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%) !important;
  
}

.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #4C4C6D !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "Playfair Display", serif !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}
.slick-dots li {
  display: inline-block;
  margin: 2px;
}
.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}
.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
}
.form-control:focus {
  border-color: #4C4C6D;
  outline: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
}
.card-header {
  border: 0;
}
.card-footer {
  border: 0;
}

/* /card */
.navigation {
  padding: 40px 130px;
  transition: 0.3s ease;
}
.navigation.nav-bg {
  
  background: linear-gradient(0deg, #070b34 0%, #141852 50%, #2b2f77 100%);
  background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  padding: 15px 100px;
}
@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
}
@media (max-width: 991px) {
  .navigation {
    padding: 20px;
    background: linear-gradient(0deg, #070b34 0%, #141852 50%, #2b2f77 100%);
    background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  }
}

.navbar .nav-item .nav-link {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: 15px;
}
.navbar .nav-item.active {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e8f6ef;
}

.hero-area {
  height: 100vh;
  padding: 250px 10px 200px;
  position: relative;
}
@media (max-width: 767px) {
  .hero-area {
    padding: 250px 0 150px;
    overflow: hidden;
  }
}
.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l4 {
  top: 200px;
  right: 40%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wave::before, .wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  z-index: 10;
}
.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
          animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: 0.3s ease;
}
.hover-bg-primary:hover {
  background: #4C4C6D;
}
.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: 0.3s ease;
  background: #4C4C6D;
}
.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: 0.2s ease;
}
.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}
.hover-wrapper img {
  transition: 0.3s ease;
  transform: scale(1.1);
}
.hover-wrapper:hover img {
  transform: scale(1);
}
.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #2bfdff;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}
.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}
.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}
.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}
.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}
.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 200px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}
.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}
@media (max-width: 991px) {
  .card-lg {
    flex-direction: column;
  }
}

blockquote {
  display: inline-block;
  padding: 20px 25px;
  background: #eaeaea;
  border-left: 3px solid rgb(76, 76, 109);
  font-style: italic;
  font-size: 22px;
  line-height: 1.7;
}

.content * {
  margin-bottom: 20px;
}
.content strong {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  padding: 350px 0 70px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}
@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}
.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}
.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg);
}
.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}
.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}
.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 250px 0 150px;
}
.page-title .container {
  position: relative;
  z-index: 1;
}
.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}
.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}
.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}
.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg);
}
.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}
.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}
@media (max-width: 1200px) {
  .page-title .bg-shape-7 {
    right: 0;
  }
}

.filter-controls li {
  cursor: pointer;
}
.filter-controls li.active {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */


.my_text_color{
  color: #e8f6ef;
}

.img_h{
  height: 20vh;
}

.img_t{
  height: 15vh;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.custom-shape-divider-bottom-1686935527 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686935527 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70vh;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1686935527 .shape-fill {
  fill: #525273;
}

.request_div{
  font-size: 30px;
  background-color: #525273;
  display: inline-block;
  padding: 5px 30px;
  min-width: 15vh;
  min-height: 4vh;
  border-radius: 1vh;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
}

.request_div span{
  color: #E8F6EF;
  color: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.request_div span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  
}

.request_div:hover span{
  padding-right: 25px;
}


.request_div:hover span:after{
  opacity: 1;
  right: 0;
}


.track_div{
  font-size: 30px;
  background-color: #E8F6EF;
  display: inline-block;
  padding: 5px 30px;
  min-width: 15vh;
  min-height: 4vh;
  border-radius: 1vh;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;

}

.track_div span{
  color: linear-gradient(0deg, #070b34 0%, #141852 50%, #2b2f77 100%);
  color: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.track_div span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  
}

.track_div:hover span{
  padding-right: 25px;
}

.track_div:hover span:after{
  opacity: 1;
  right: 0;
}

.request_div button{
  color: #E8F6EF;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.request_div button:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  
}

.request_div:hover button{
  padding-right: 25px;
}


.request_div:hover button:after{
  opacity: 1;
  right: 0;
}


.category h2{
  color: white;
}



-- this is for tracking page
.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 33.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #f7be16;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #f7be16;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #27aa80;}

.form-label{
  font-weight: bold;
}

.color-select{
  background-color: rgba(128, 128, 128, 0.05);
}

.form-select:focus {
  border-color: #ff000000;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(76, 76, 109, 0.50);
}

.form-control:focus {
  color: #495057;
  background-color: rgba(128, 128, 128, 0.1);
  border-color: rgba(76, 76, 109, 0.50);
  outline: 0;
  box-shadow: 0 0 0 0.4rem rgba(76, 76, 109, 0.50);
}


.div_main_tracking{
  padding: 5px 25px;
  background-color: white;
   
  border-radius: 1vh;
  min-height: 55vh;
}
