{% extends "manager_app/manager.html" %}

{% block style %}
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
{% endblock  %}
{% block main %}



<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; ">
    <div style="width: 400px;">

<label for="countries" class="block mb-2 text-sm font-medium ">Select an option</label>
   
<select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="{{catagory.id}}">{{catagory.name}}</option>
        </select>

 <br>
 <br> 

  <label for="countries" class="block mb-2 text-sm font-medium ">sub category</label>
  <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
   
    {% for sub in sub_category %}
    <option value="{{sub.id}}">{{sub.name}}</option>
    {% endfor %}
  </select>

  <label for="countries_multiple" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">color</label>
<select multiple id="countries_multiple" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="R">Red</option>
    <option value="G">Green</option>
    <option value="B">Blue</option>
    <option value="Bla">Black</option>
    <option value="Y">Yellow</option>
    <option value="W">White</option>
</select>

<label for="countries_multiple" class="block mb-2 text-sm font-medium ">place</label>
<select multiple id="countries_multiple" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="F">First Floor</option>
    <option value="S">Second Floor</option>
    <option value="T">Third Floor</option>
</select>


<label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
<textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>



</form>
    </div>
</div>
{% endblock main %}