{% extends "manager_app/manager.html" %}


{% block main %}
<a href=""><button class="openbtn" style="" >↩ </button></a> 
<div style=" align-items: center; width: 100%; height: 100%; ">
    <div style=" "> 
        <h1 style="text-align: center;"> Lost item request</h1>
<div class="three-columns-grid" style="background-color: #E8F6EF; color: #444; border-radius: 4px;" >
    <div style="padding: 10px; ">
    
          

  
       

        <div class="ag-courses_item" style="width: 95%;  border-radius: 10px;">
           <a class="ag-courses-item_link" style="height: 560px;">
                
              <div class="ag-courses-item_bg" 
              {% if lost_item.color == 'G' %}
                style=" background-color: rgb(58, 203, 58);"
                {% elif lost_item.color == 'R' %}
                style="background-color: rgb(255, 73, 73);"
                {% elif lost_item.color == 'B' %}
                style="background-color: rgb(73, 109, 255);"
                {% elif lost_item.color == 'BLA' %}
                style="background-color: rgb(18, 15, 15);"
                {% elif lost_item.color == 'Y' %}
                style="background-color: rgb(213, 245, 72);"
                {% elif lost_item.color == 'W' %}
                style="background-color: rgb(144, 147, 130);"
                {% endif %}>
            </div>
              <div class="ag-courses-item_title">
                <h3>informations </h3><h4>about item</h4>
         
              </div>
              <div class="ag-courses-item_date-box">
                found id :
                <span class="ag-courses-item_date">
                    {{lost_item.id}}
                </span>
              </div>
              <div class="ag-courses-item_date-box">
                category :
                <span class="ag-courses-item_date">
                    {{lost_item.catagory.name}}
                </span>
              </div>
              <div class="ag-courses-item_date-box">
                sub category:
                <span class="ag-courses-item_date">
                    {{lost_item.Sub_catagory.name}}
                </span>
              </div>
        
              <div class="ag-courses-item_date-box">
                place:
                <span class="ag-courses-item_date">
                    {{lost_item.get_place_display}}
                </span>
              </div>
              <div class="ag-courses-item_date-box">
                status:
                <span class="ag-courses-item_date">
                    {{lost_item.get_status_display}}
                </span>
              </div>
              <div class="ag-courses-item_date-box">
                created at :
                <span class="ag-courses-item_date">
                    {{lost_item.created_at}}
                </span>
              </div>
              <div class="ag-courses-item_title" style=" margin-bottom: 10px; min-height: 200px;   border-radius: 5px; padding: 13px;">
                <h2 style="text-align: center;">
                  <span class="ag-courses-item_date">
                  User description </span> </h2>
              
                <h5>{{lost_item.description}}</h5>
          
            </div>
            </a>
          </div>
    
        

        


    </div>
    <div style="" >


    <div style="    border-radius: 5px; padding-top: 13px;">
        <h2 style="text-align: center;">match lost items </h2>

        <div style=" padding: 0px 10px ; ">
           
              
            
        <div class="ag-courses-item_link" style=" border-radius: 5px; height: 480px;   ">

          {% if confirm_items %}
            {% for confirm_item in confirm_items %}
              
            
            
          <div class="ag-courses-item_date-box">
            <img src="{{confirm_item.found_item.image.url}}" width="100%" height="200px" alt="">
                <h5>description of lost: </h5><h6>{{confirm_item.found_item.description}}</h6>
            </div>
                
         
             
             
              <div class="ag-courses-item_date-box">
                category :<span class="ag-courses-item_date"> {{confirm_item.request_Lost_Item.catagory.name}} </span> sub category: <span class="ag-courses-item_date"> {{confirm_item.found_item.Sub_catagory.name}} </span>
               
              </div>
            
         
              
              
              <div style="display: flex; flex-wrap: wrap; column-gap: 9px; ">
                <div class="ag-courses-item_date-box">
                    nameOwner:
                    <span class="ag-courses-item_date">
                        {{confirm_item.request_Lost_Item.name}}
                    </span>
                  </div>
                  <div class="ag-courses-item_date-box">
                    phoneNumber:
                    <span class="ag-courses-item_date">
                        {{confirm_item.request_Lost_Item.phone_number}}
                    </span>
                  </div>
                  <div class="ag-courses-item_date-box">
                    email:
                    <span class="ag-courses-item_date">
                        {{confirm_item.request_Lost_Item.email}}
                    </span>
                  </div>

            

        </div>
        <div style="display: flex; flex-wrap: wrap; column-gap: 9px; padding-top: 20px; ">
            <div class="ag-courses-item_date-box"> 
                <a href="" style=" margin: 10px; padding: 10px; border-radius: 8px; text-decoration: none; color:#E8F6EF ;    background-color:  #474bff  ">
                    send email
                </a>
                <a href="{% url 'manager_app:confirm_item_true_for_lost_detail' lost_item_id=lost_item.id found_item_id=confirm_item.found_item.id  %}" style=" margin: 10px; padding: 10px; border-radius: 8px; text-decoration: none; color:#E8F6EF ;    background-color:  #474bff  ">
                    confirm
                </a>
                <a href="{% url 'manager_app:discard_confirm_item_for_lost_detail' lost_item_id=lost_item.id found_item_id=confirm_item.found_item.id %}" style=" margin: 10px; padding: 10px; border-radius: 8px; text-decoration: none; color:#E8F6EF ;    background-color:  #474bff  ">
                    discard
                </a>
                
              </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="ag-courses-item_date-box">
            <h1 style="text-align: center;"> notheng selected  <h1>
        </div>
        {% endif %}
        
    </div>


</div>
</div>


    </div>


 








    <div style="">
        <div style="  height: 550px; color:#444;  border-radius: 5px; padding-top: 13px;">
            <h2 style="text-align: center;">found item </h2>

            <div style="overflow-y: scroll;  padding: 0px 10px ; height: 490.7px;">
                {% for found in found_item %}
                  
                
            <div class="ag-courses-item_link" style=" border-radius: 10px;   margin-bottom: 12px;">

              <img  src="{{found.image.url}}" width="100%" height="200" alt="">
              <a class="ag-courses-item_link">
                <div class="ag-courses-item_bg" 
                {% if found.color == 'G' %}
                  style=" background-color: rgb(58, 203, 58);"
                  {% elif found.color == 'R' %}
                  style="background-color: rgb(255, 73, 73);"
                  {% elif found.color == 'B' %}
                  style="background-color: rgb(73, 109, 255);"
                  {% elif found.color == 'BLA' %}
                  style="background-color: rgb(18, 15, 15);"
                  {% elif found.color == 'Y' %}
                  style="background-color: rgb(213, 245, 72);"
                  {% elif found.color == 'W' %}
                  style="background-color: rgb(144, 147, 130);"
                  {% endif %}>
                  
              </div>
             
              <div class="ag-courses-item_date-box">
                
                    <h5>description: </h5><h6>{{found.description}}</h6>
                </div>
                    
             
                 
                  <div class="ag-courses-item_date-box">
                     request lost Item id : {{found.id}}
                  </div>
                  <div class="ag-courses-item_date-box">
                    category :<span class="ag-courses-item_date"> {{found.catagory.name}} </span> sub category: <span class="ag-courses-item_date"> {{found.Sub_catagory.name}} </span>
                   
                  </div>
                
                  <div class="ag-courses-item_date-box">
                    lost in {{found.get_place_display}}   in <span class="ag-courses-item_date"> {{found.get_status_display}} </span> status
                   
                  </div>
                  <div class="ag-courses-item_date-box">
                   
                    
                  </div>
                  <div class="ag-courses-item_date-box">
                    created at :
                    <span class="ag-courses-item_date">
                        {{found.created_at}}
                    </span>
                  </div>
                  

           
                <div class="ag-courses-item_date-box">
                
                    
                  {% if not confirm_items %}
                  <a href=" {% url 'manager_app:confirm_item_for_lost_detail' found_item_id=found.id lost_item_id=lost_item.id %}" style=" margin: 10px; padding: 10px; border-radius: 8px; text-decoration: none; color:#E8F6EF ;    background-color:  #474bff  ">
                    match
                </a>
                  {% endif %}
                  
           
                  </div>
              
                </a>
             
        </div>
   
        {% endfor %}
    
    </div>
    </div>
</div>
</div>
 {% endblock %}