{% extends "manager_app/manager.html" %}
{% load static %}

{% block main %}



  <div class="container">
   <div class="d-flex  justify-content-center">  
<div class="row w-100" style=" align-items: center; width: 100%; height: 100%; ">

  <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; ">
    
    <div>
      <form action="{% url 'manager_app:lost_item_page' %}" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="display: flex; align-items: center; column-gap: 4px; " role="search">
        <input type="search" name="search" class="form-control form-control-dark text-bg-dark" style="border-radius: 20px; " placeholder="Search..."aria-label="Search">
      </form>
      <div class="homenav" style="margin-top: 20px;">
            <a href="{% url 'manager_app:lost_item_page' %}" style=" background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%); color: aliceblue;">requests</a>
            <a href="{% url 'manager_app:found_item_page' %}">found items </a>
            <a href="{% url 'manager_app:match_item_page' %}"> Matched items </a>
            <a href="{% url 'manager_app:confirm_item_page' %}"> confirm items </a>

        </div>
        <form action="{% url 'manager_app:lost_item_page' %}" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="display: flex; align-items: center; column-gap: 4px; justify-content: center; margin-top: 10px;" role="search">
          <img src="{% static 'style/icons8-filter-100.png' %}" height="25px" alt="">
          <label for="category" style="position: relative; top: 5px; color: aliceblue;"> filter </label>
          <select  name="category" style="width: 190px;" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="">select</option>
            {% for catagor in catagory %}
            <option style="" value="{{catagor.name}}">{{catagor.name}}</option>
            {% endfor %}
            
          </select>
          <button type="submit" style="background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%); color: aliceblue; border: none; outline: none; padding: 10px 13px; border-radius: 48%">go</button>
          <a href="{% url 'manager_app:lost_item_page' %}" style="text-decoration: none; background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%); color: aliceblue; border: none; outline: none; padding: 10px 5px; border-radius: 48%">reset</a>
        </form>
      </div>
    </div>

        <div class="ag-format-container">
            <div class="ag-courses_box"  style="display: block;">
              {% for request_lost_Item in request_lost_Items %}
              {% if not request_lost_Item.is_read %}
                <div style="background-color:rgb(252, 96, 96); border-radius: 50%; height: 40px; width: 40px; bottom: 2px; position: relative; z-index: 3; box-shadow: 0px 00px 20px rgb(252, 96, 96); display: flex; justify-content: center; align-items: center;">NEW</div>
                {% endif %}
              <div class="ag-courses_item">
                
                <a href="{% url 'manager_app:lost_item_detail_page' request_lost_Item.id %}" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg" 
                  {% if request_lost_Item.color == 'G' %}
                    style=" background-color: rgb(58, 203, 58);"
                    {% elif request_lost_Item.color == 'R' %}
                    style="background-color: rgb(255, 73, 73);"
                    {% elif request_lost_Item.color == 'B' %}
                    style="background-color: rgb(73, 109, 255);"
                    {% elif request_lost_Item.color == 'BLA' %}
                    style="background-color: rgb(18, 15, 15);"
                    {% elif request_lost_Item.color == 'Y' %}
                    style="background-color: rgb(213, 245, 72);"
                    {% elif request_lost_Item.color == 'W' %}
                    style="background-color: rgb(193, 194, 184);"
                    {% endif %}>
                </div>
                 
                <div class="ag-courses-item_title">
                    <h3>description </h3><h4>{{request_lost_Item.description}}</h4>
             
                  </div>
                  <div class="ag-courses-item_date-box">
                    name of this request :
                    <span class="ag-courses-item_date">
                        {{request_lost_Item.name}}
                    </span>
                  </div>

                  <div class="ag-courses-item_date-box">
                    found id :
                    <span class="ag-courses-item_date">
                        {{request_lost_Item.id}}
                    </span>
                  </div>
                  <div class="ag-courses-item_date-box">
                    category :
                    <span class="ag-courses-item_date">
                        {{request_lost_Item.catagory.name}}
                    </span>
                  </div>
                  <div class="ag-courses-item_date-box">
                    sub category:
                    <span class="ag-courses-item_date">
                        {{request_lost_Item.Sub_catagory.name}}
                    </span>
                  </div>
            
                  <div class="ag-courses-item_date-box">
                    place:
                    <span class="ag-courses-item_date">
                        {{request_lost_Item.get_place_display}}
                    </span>
                  </div>
                  <div class="ag-courses-item_date-box">
                    status:
                    <span class="ag-courses-item_date">
                        {{request_lost_Item.get_status_display}}
                    </span>
                  </div>
                  <div class="ag-courses-item_date-box">
                    created at :
                    <span class="ag-courses-item_date">
                        {{request_lost_Item.created_at}}
                    </span>
                  </div>
                  
                  
                    
                      <div class="ag-courses-item_date-box">
                        phone number :
                        <span class="ag-courses-item_date">
                            {{request_lost_Item.phone_number}}
                        </span>
                      </div>
                      <div class="ag-courses-item_date-box">
                        email of this user :
                        <span class="ag-courses-item_date">
                            {{request_lost_Item.email}}
                        </span>
                      </div>
                      

                
                
                </a>
                <div class="ag-courses-item_date-box">
                <div style="position: absolute; ">
                  <a href="" onclick="deleteProfile()" style="float: right; position: relative; bottom: 65px; left: 920px; padding: 6px; text-decoration: none; border-radius: 3px; color: aliceblue; margin-bottom: 10px; background-color: rgb(254, 102, 102);">
                    discard spam</a>
                    <script>
                      //show a confirmation and redirect to the delete profile script
                      function deleteProfile() {
                        if (confirm("Do you really want to delete your request ?")) {
                            location.href = "{% url 'manager_app:delete_lost_item' request_lost_Item.id %}";
                        }
                    }
                    </script>
                </div>
              </div>
                 

               
              </div>
              
              {% endfor %}
            </div>
        </div>
        
          
             
          
             
         
         

          {% endblock main %}