{% extends "manager_app/manager.html" %}

{% block main %}
  

<h1 style="text-align: center;"> {{category.name}}</h1>
<form  style="display: flex; align-items: center; justify-content: center;" action="{% url 'manager_app:sub_category' category.id %} " method="post">
    {% csrf_token %}
    
    <div class="form-group " style="width: 30%;" >
      <label for="exampleInputEmail1">name of subcategory</label>
      <input type="text" class="form-control" name="categoryname" aria-describedby="emailHelp" placeholder="Enter category">
      
    </div>
    <a href="{% url 'manager_app:sub_category' category.id %}" style="position: relative; top: 8px;" type="submit" ><button  class="btn" style="background-color: #7b4e9d; color: aliceblue;">add</button></a>

  </form>


    
    <div style="display: grid; place-items: center; ">
    {% for sub in sub_category %}
      <div style="padding: 10px; margin: 10px; background-color: #7b4e9d; border-radius: 8px; width: 300px;">
      <h2 >{{sub.name}}</h2>

      <a href="{% url 'manager_app:delete_sub_category' category_id=category.id sub_category_id=sub.id  %}" class="request_div">
        <span class="request_btn">Delete</span>

      </a>

    </div>

   
      {% endfor %}
    </div>


{% endblock main %}